---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


div.footnotes{
  font-size:80%;
  }

.page-content dt {font-weight:bold;float:left}
.page-content dd {margin-bottom:0.5em;}
.page-content dt {padding-right:0.5em;}
 
.post-content dt {font-weight:bold;float:left}
.post-content dd {margin-bottom:0.5em;}
.post-content dt {padding-right:0.5em;}

div.footnotes {
  font-size: 80%;
  margin-top: 3em;
  border-top: 1px;
  padding-top: 1em;
  border-top-color: #C0C0C0;
  border-top-style: solid;
}


.img-left {
    float: left;
  }
  
  .img-right {
    float: right;
  }
  
  .margin-right {
    margin-right: 20px;
  }
  
  .margin-left {
    margin-left: 20px;
  }
  
  .avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 20px;
  }